:root {
  --main-text-color: #626262;
  --heading-color: #b4ad9e;
  --nav-link-color: #7d7d7d;
  --accent-color: #03a9f4;
  --bg-color: #ffffff;
  --border-btn-color: #626262;
  --font-family: "Playfair Display", sans-serif;
  --second-family: "Ubuntu", sans-serif;
}

body {
  color: var(--main-text-color);
  background-color: var(--bg-color);
  font-family: var(--font-family);
}

.container {
  width: 936px;
  padding: 0 15px;
  margin: 0 auto;
  /* padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; */
}
.header {
  padding-top: 71px;
  padding-bottom: 92px;
}
.header_flex {
  display: flex;
}
.header_nav_list {
  display: flex;
  margin-left: 175px;
  gap: 99px;
}
.header_item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #7d7d7d;
}
.current_item {
  color: var(--accent-color);
}
.header_item:hover {
  color: var(--accent-color);
}
.gallery {
  padding-bottom: 66px;
}
.gallery_list {
  display: flex;
  flex-wrap: wrap;
  gap: 130px 65px;
}
.gallery_item {
  width: 420px;
  padding-bottom: 20px;
}
.gallery_item:hover{
box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.gallery_topik {
  font-family: var(--second-family);
  font-weight: 300;
  color: var(--heading-color);
  margin-top: 32px;
  margin-bottom: 32px;
}
.gallery_title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  color: #626262;
}
.gallery_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #626262;
}
.gallery_button {
  display: block;
  font-family: inherit;
  font-size: 14px;
  color: inherit;
  padding: 20px 48px;
  border: 1px solid var(--border-btn-color);
  margin: 0 auto;
  margin-top: 90px;
}
.gallery_button:hover{
background-color: #d6cece;
color: #524e4e;
}
.gallery_text {
  margin-top: 40px;
}
