$main-text-color: #626262;
$heading-color: #b4ad9e;
$nav-link-color: #7d7d7d;
$accent-color: #03a9f4;
$bg-color: #ffffff;
$border-btn-color: #626262;
$font-family: "Playfair Display", sans-serif;
$second-family: "Ubuntu", sans-serif;
